{%extends 'instazone/base.html'%} {%block content%} {%load bootstrap4 %} {%load staticfiles %}

<div class="container" style="padding-top:90px;">
    <div class="row">
        <div class="col-md-6">
            <a href="/accounts/password/change" class="btn btn-primary"> Change Password</a>
            <a href="{%url 'new_post' %}" class="btn btn-primary"> New Post</a>
            <a href="{%url 'change_profile' user.id %}" class="btn btn-primary"> Change Profile </a>
            
            {%for profile in profile %}
            <div class="profile">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            {%if profile.profile_avatar%}
                            <img src="{{profile.profile_avatar.url}}" alt="" class="img img-responsive" style="border-radius: 50% ">
                            {% endif %}
                            <br>
                            <p>{{profile.first_name }} {{profile.last_name}}</p>
                            <h2>Username:   {{request.user.username}}</h2>
                         Bio:  {{profile.bio}}
                
                {%endfor%}
                </div> 
                </div>
            </div>
            </div>
            {%for image in images %}
            <br>
            <br>
            <br>
            <u><h2>Posts</h2></u>
            <hr>
            <div class="container">
                <div class="row">
            <div class="col-5">
                <b>Location:</b> {{image.location}}
                <img src="{{image.image.url}}" alt="" class="img img-responsive" >
                <p><b>Caption: </b> {{image.caption}} </p>
                
            </div>
        </div>
    </div>
            {%endfor%}
        </div>
    </div>
</div>
{%endblock%}