{%extends 'instazone/base.html'%} {% block content %}
<div class="container">
    <div class="row">
        {%if searched_profiles %}
        <h2> Found {{searched_profiles|length}} of searched term {{message}}</h2>
        {% else %}
        <h2>Found 0 profiles for the search term {{message}}</h2>
        {% endif %}

    </div>
    <div class="row">
        {% if searched_profiles %} 
        {% for profile in searched_profiles %}
        
        <div class="col-sm-6 col-md-3">
            <h2>{{profile.user_name}}</h2>
            <h2>{{profile.bio}}</h2>
            <h2>{{profile.image.url}}</h2>
            <a href="#">{{profile.user_name}}</a>
        </div>
        {% endfor %} {% endif %}
    </div>
</div>
{% endblock %}