
 {%if user.is_authenticated %}
 <nav class="navbar sticky-top navbar-light" style="background-color:white ">
 <div class="container">
     <a class="navbar-brand" href="{%url 'index'%}" style="color:black">
     <h1><img src="https://image.flaticon.com/icons/svg/69/69366.svg" alt=""style ="height="32" width="32"">| INSTAZONE</h1>
 </a>
 <div class="navbar-center" style="margin-top:5px margin-right=10px">
     <form action="#" class="form-inline mx-auto" role="search">
         <div class="input-group">
             <input type="text" class="form-control form-control-sm" placeholder="Search" name="profile">
         </div>
     </form>
 </div>
 <div class="my-2 my-lg-0 float-right">
     <a href="#" ><img src="https://material.io/tools/icons/static/icons/baseline-explore-24px.svg" alt="" style="height="32" width="32" hspace='10'"></a>
     <a href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="https://material.io/tools/icons/static/icons/baseline-favorite_border-24px.svg" alt="" style="height="32" width="32" hspace='10'"> </a>
     <a href="#"><img src="https://material.io/tools/icons/static/icons/baseline-account_box-24px.svg" alt="" style="height=" 32 " width="32 " hspace='10'"></a>
     <a href="/logout" style=" color: black;">Logout</a>
 </div>

 {%endif%}
 </div>
</nav>