{%extends 'ig/base.html'%} {%block content%} 
<div class="container">
    <!-- <div class="row"> -->
        {% for image in images %}
            <!-- <div class="col-xs-3 col-md-6 col-sm-6 col-lg-6"> -->
            
                <h5>{{user.username}}</h5>
                 <!-- <h5>{{image.location}}</h5> -->
    
                <p><img src="{{image.image.url}}" alt="" class="img img-responsive img-thumbnail" ></p>
                <h1>Hello World</h1>
                <p>some texts</p>
            
    <!-- <div class="card-footer"> -->
        <!-- <a href="#">
            <img src="https://material.io/tools/icons/static/icons/baseline-favorite_border-24px.svg" alt="" style="height:32 width:32 hspace:10"> </a><br>
            <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/137689-200.png" alt="" style="height:32 width:32 hspace:10">
        <p>{{image.user_name}} {{image.caption}} </p>
        <p> Likes: {{image.likes.count}}</p><p>{{image.comment.count}}</p>
        {%for comment in image.comment%}
        {{image.comment}}
        {%empty%}
        <p>No comments</p>
        {%endfor%} -->

{%empty%}
<!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> -->
    <a href="{% url 'new_post' %}" class="btn btn-primary"> New Post</a>
    <h2>Sorry nigga!!. Kindly Follow users to be able to see photos in the site</h2>

<!-- </div> -->
{% endfor %}
</div>
{% endblock %}