{%extends 'gram/base.html'%}  {%load bootstrap4 %} {%load staticfiles %}
{%block content%}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img src="{{image.image.url}}" alt="" class="img-fluid">
                <div class="card-body">
                    {%for comment in comment}
                    <span class="list-group-item"><img src="{{comment.writer.profile.avatar.url}}" alt="" class="img-fluid">{{comment.body}}</span>
                    <br>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container"> 
    <div class="row">
        <div class="col-md-6">
            <form action="{% url 'comment' %}" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            {%bootstrap_form form%}
            </form>
        </div>
    </div>
</div>
{%endblock%}